<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div class="text-center">
        <img src="../assets/Logo_assicurazioni_lowcost.jpg" alt="Logo" class="d-inline-block align-text-top">
      </div>

      <div class="grid text-center justify-items-center">
        <a href="" class="col-4"><strong>HOME PAGE</strong></a>
        <a href="" class="col-4"><strong>CHI SIAMO</strong></a>
        <a href="" class="col-4"><strong>DOVE SIAMO</strong></a>
      </div>

      <hr>
    </div>
  </nav>
</header>

<mail-form></mail-form>

<home-page></home-page>
